Подключение шрифтов*/
@font-face {
	font-family: "Libre Baskerville Regular";
	src: url(../fonts/LibreBaskerville-Bold.woff);
	font-style: normal;
	font-width: 400;
}
@font-face {
	font-family: "Libre Baskerville Bold";
	src: url(../fonts/LibreBaskerville-Bold.woff);
	font-style: normal;
	font-width: 700;
}
@font-face {
	font-family: "Poppins Medium";
	src: url(../fonts/Poppins-Medium.woff);
	font-style: normal;
	font-width: 500;
}
@font-face {
	font-family: "Poppins SemiBold";
	src: url(../fonts/Poppins-SemiBold.woff);
	font-style: normal;
	font-width: 600;
}
@font-face {
	font-family: "Poppins Regular";
	src: url(../fonts/Poppins-Regular.woff);
	font-style: normal;
	font-weight: 400;
}
/*Шрифты подключены*/
:root {
	font-size: 1.2em;
	--c-w: rgb(255, 255, 255);
	--c-r: rgb(252, 95, 69);
	--c-g: rgb(56, 198, 149);
	--c-p: rgb(178, 124, 245);
	--c-o: rgb(254, 185, 96);
	--bg-c-g: rgb(247, 247, 247);
	--bg-c-b: rgba(63, 64, 73, 0.7);
	--t-c-b: rgb(49, 49, 49);
	--number-c: rgba(0, 0, 0, 0.4);
	--f-f: "Poppins Medium";
	--btn-c: rgb(252, 95, 69);
}
* {
	outline: white;
}
html {
	scroll-behavior: smooth;
}
:target {
	scroll-margin-top: 4em;
}
.page {
	font-family: "Poppins Regular";
	color: rgb(97, 97, 97);
	background-color: var(--c-w);
}
.wrapper {
	margin: 0 15em;
}
/*Первый экран*/	
.header {
	background-color: var(--c-w);
	width: 100%;
	top: -4em;
	z-index: 50;
	transition: 1s;
}
.header.fixed {
	top: 0;
	position: fixed;
	box-shadow: 0px 5px 4px -3px rgba(34, 60, 80, 0.08);
}
.header__inner {
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	list-style: none;
	display: flex;
}
.menu__link {
	text-decoration: none;
	color: var(--t-c-b);
	position: relative;
	transition: all 0.6s;
	padding: 0.62em 0.5em;
	box-sizing: border-box;
}
.menu__link:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0.1em;
	right: 0;
	bottom: 0;
	background: var(--t-c-b);
	transition: all 0.3s;
}
.menu__link:hover:before {
	width: 100%;
	left: 0;
}
.menu__link:active {
	color: var(--c-r);
}
/*Бургер*/
.burger {
	display: none;
}
.burger__item {
	height: 3px;
	width: 30px;
	display: block;
	background-color: var(--c-r);
	margin-bottom: 5px;
}
.burger__item:last-child {
	margin-bottom: 0;
}
/*Окончания Бургера*/
.main {
	background-image: url(../image/main__bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--bg-c-b);
	background-blend-mode: darken;
	color: var(--c-w);
	height: 100%;
}
.main.fixed {
	margin-top: 4em;
}
.main__inner {
	padding: 10em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__title {
	font-family: "Libre Baskerville Regular";
	font-size: 3.3rem;
	margin-bottom: 1em;
	text-align: center;
}
.button {
	background-color: var(--btn-c);
	border-radius: 30px;
	border: none;
	color: var(--c-w);
	font-size: 1rem;
	font-family: "Poppins SemiBold";
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid var(--c-r);
	transition-property: color, background-color;
	transition: 0.8s, 1s;
}
.button:hover {
	color: var(--c-r);
	background-color: transparent;
} 
.main__button {
	padding: 0.5em 1.8em;
	margin-bottom: 2.7em;
}
.marker__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translate(8%,0);
}
.marker__item {
	margin-right: 5em;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.market__icon {
	margin-bottom: 1.5em;
}
.market__title {
	text-transform: uppercase;
	font-family: var(--f-f);
	font-size: 1rem;
}
.market__title-g {
	color: var(--c-g);
}
.market__title-p {
	color: var(--c-p);
}
.market__title-o {
	color: var(--c-o);
}
/*Окончание первого экрана*/
/*Стили для заголовка и текста секций*/
.title {
	text-align: center;
	padding: 3.3em 0 0.5em;
	font-size: 2.6rem;
	color: var(--t-c-b);
	font-family: "Libre Baskerville Bold";
	position: relative;
	z-index: 5;
}
.title:after {
	content: "02";
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    font-size: 14rem;
	font-family: "Libre Baskerville Bold";
	color: rgb(0, 0, 0, 0.1);
	line-height: 0;
	z-index: 2;
}
.text {
	color: var(--t-c-b);
	font-size: 1.4rem;
	text-align: center;
}
/*Окончание стилей заголовка и текста сеуций*/
/*Начало окна About Us*/
.aboutus {
	position: relative;
}
.aboutus__img {
	margin: 7.5em 0;
	border: 7px solid rgb(204, 204, 204);
}
.aboutus__container {
	position: absolute;
	top: 20%;
	left: 40%;
	padding: 5em 4.2em 5.4em 4.2em;
	border-bottom: 3px solid ;
	border-image-source: url(../image/bb-lines.png);
	border-image-repeat: stretch;
	border-image-slice: 0 0 3 0;
	max-width: 33em;
	background-color: var(--c-w);
	box-shadow: 1px -1px 15px rgb(0, 0, 0, 0.1);
}
.title-left {
	margin-top: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
.title-left:after {
	content: "01";
	position: absolute;
    right: 89%;
    bottom: 53%;
    font-size: 14rem;
	font-family: "Libre Baskerville Bold";
	color: rgb(0, 0, 0, 0.1);
	line-height: 0;
}
.aboutus__text {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 2em;
}
.aboutus__text:last-child {
	margin-bottom: 0em;
}
/*Окончание окна About Us*/
/*Начало экрана Our Focus*/
.our-focus{
	background-color: var(--bg-c-g);
}
.out-focus__items {
	display: flex;
	padding-top: 4.4em;
	padding-bottom: 7.5em;
}
.our-focus__item {
	margin-right: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 0;
	background-color: var(--c-w);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.our-focus__item:last-child {
	margin-right: 0;
}
.out-focus__title {
	margin: 1.2em 0 1.5em;
	font-size: 1.5rem;
	font-family: var(--f-f);
	text-align: center;
}
.out-focus__text {
	padding: 0 1.5em;
	text-align: center;
	font-size: 1rem;
	margin-top: auto;
}
.our-focus__item-r {
	border-bottom: 3px solid var(--c-r);
}
.our-focus__item-g {
	border-bottom: 3px solid var(--c-g);
}
.our-focus__item-p {
	border-bottom: 3px solid var(--c-p);
}
.our-focus__item-o {
	border-bottom: 3px solid var(--c-o);
}
/*Окончания экрана Our Focus*/
/*Начало экрана видео*/
.video-section {
	background-image: url(../image/video-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--bg-c-b);
	background-blend-mode: darken;
	color: var(--c-w);
	padding: 7.5em 0;
}
.title-w {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 2em;
}
.play {
	display: flex;
	align-items: center;
	width: 90px;
	height: 90px;
	border: 3px solid var(--c-g);
	border-radius: 50px;
	margin: 0 auto 2.3em;
	cursor: pointer;
}
.play__line {
	display: block;
	height: 3px;
	width: 40px;
	background-color: var(--c-g);
	transform: rotate(90deg);
	margin-left: 0.5em;
}
.play__line:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 45px;
	background-color: var(--c-g);
	transform: rotate(-63deg) translate(12px, -19px);
}
.play__line:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 45px;
	background-color: var(--c-g);
	transform: rotate(63deg) translate(-13px, -16px);
}
.video-section__text {
	text-align: center;
	font-size: 0.9em;
}
/*Окончание экрана видео*/
/*Начало экрана Портфолио*/
.portfolio {
	background-color: var(--c-w);
	padding-bottom: 7.5em;
}
.title__portfolio:after {
	content: "03";
}
.gallery {
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.gallery__item {
	 margin-right: 1.4em;
	 margin-bottom: 1.4em;
	 position: relative;
	 cursor: pointer;
}
.gallery__text {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	padding: 0 0;
	background-color: transparent;
	text-align: center;
	font-family: var(--f-f);
	font-size: 1em;
	border-top: 4px solid;
	border-image: url(../image/bb-lines.png);
	border-image-repeat: stretch;
	border-image-slice: 3;
	transition-property: padding, opacity, background-color;
	transition-duration: 0.5s, 0.5s, 0.7s;
}
.gallery__item:before {
	content: "";
	width: 4em;
	height: 4em;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	position: absolute;
	top: 25%;
	left: 35%;
	transform: translate(30%,5%);
	background: url(../image/icon/pluse_i.png) center center/contain no-repeat;
}
.gallery__item:nth-child(3n) {
	 margin-right: 0;
}
.gallery__item:nth-child(n+7) {
	margin-bottom: 0;
}
.gallery__item:hover .gallery__text {
	opacity: 1;
	padding: 1.6em 0;
	background-color: var(--c-w);
}
.gallery__item:hover:before {
	opacity: 1;
}
/*Окончание экрана Портфолио*/
/*Начало экрана Our Team*/
.our-team__title:after {
	content: "04";
}
.our-team {
	background-color: var(--bg-c-g);
	padding-bottom: 7.5em;
}
.our-team__items {
	margin-top: 4em;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.our-team__item {
	border-top: 3px solid var(--c-w);
	border-left: 3px solid var(--c-w);
	border-right: 3px solid var(--c-w);
	background-color: var(--c-w);
	flex: 0 1 22%;
	cursor: pointer;
}
.our-team__item-r{
	border-bottom: 3px solid var(--c-r);
}
.our-team__item-g {
	border-bottom: 3px solid var(--c-g);
}
.our-team__item-p{
	border-bottom: 3px solid var(--c-p);
}
.our-team__item-o{
	border-bottom: 3px solid var(--c-o);
}
.gellery__img {
	text-align: center;
}
.our-team__name {
	font-family: var(--f-f);
	font-size: 1em;
	margin-top: 1.1em;
	margin-bottom: 0.7em;
}
.our-team__position {
	margin-bottom: 1.1em;
}
.about-person {
	margin: 2.6em 0 0;
	background-color: var(--c-w);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 3.8em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.about-person:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
    top: -55px;
    left: 100px;
    border: 1em solid rgb(0 0 0 / 0%);
    border-bottom: 2.5em solid var(--c-w);
}
.about-person__item + .about-person__item {
	margin-left: 1em;
}
.about-person__item-big {
	flex: 0 1 85%;
	position: relative;
	background: url(../image/icon/team-i.png) right center/auto no-repeat;
}
.about-person__item-small {
	flex: 0 0 15%;
	margin-left: auto;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	padding: 1.1em;
}
.about-person__title {
	margin-bottom: 1.5em;
	font-family: var(--f-f);
	font-size: 1.2rem;
}
.about-person__text {
	font-size: 1rem;
	width: 75%;
}
.team-social {
	list-style: none;
}
.team-social__item {
	line-height: 1.7;
}
.team-social__link {
	text-decoration: none;
	margin-left: 0.4em;
	color: var(--t-c-b);
	font-size: 0.9rem;
}
/*Окончание экрана Our Team*/
/*Начало экрана Statistics*/
.statistics {
	padding: 7.5em;
	background: url(../image/statistics__bg.png) 
				center center/cover no-repeat;
	background-color: var(--bg-c-b);
	background-blend-mode: darken;
}
.statistics__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.statistics__item {
	flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.statistics__number {
	display: block;
	color: var(--c-w);
	font-family: var(--f-f);
	font-size: 1.2rem;
	margin: 1.4em 0;
}
.statistics__text {
	color: rgb(254, 254, 254);
	font-size: 0.8em;
}
.statistics__dashed {
	margin-top: 2em;
	width: 0.4em;
	height: 0.4em;
	display: block;
	border-radius: 10px;
	position: relative;
}
.statistics__dashed:after {
	content: "";
	position: absolute;
	bottom: 0%;
	right: 0%;
	transform: translate(30%,30%);
	width: 0.7em;
	height: 0.7em;
	border-size: 2px;
	border-style: solid;
	border-radius: 10px;
}
.statistics__dashed-r {
	background-color: var(--c-r);
}
.statistics__dashed-r:after {
	border-color: var(--c-r);
}
.statistics__dashed-g {
	background-color: var(--c-g);
}
.statistics__dashed-g:after { 
	border-color: var(--c-g);
}
.statistics__dashed-p {
	background-color: var(--c-p);
}
.statistics__dashed-p:after {
	border-color: var(--c-p);
}
.statistics__dashed-o {
	background-color: var(--c-o);
}
.statistics__dashed-o:after {
	border-color: var(--c-o);
}
/*Окончания экрана Statistics*/
/*Начало экрана Work Steps*/
.work-steps {
	background-color: var(--c-w);
}
.work-steps__title:after {
	content: "05";
}
.work-steps__items {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 6.7em 0 7.5em;
}
.work-steps__item {
	flex: 1 1 25%;
	position: relative;
	z-index: 3;
}
.work-steps__img {
	display: block;
}
.steps {
	max-width: 90%;
	height: 100%;
	padding: 3em 2.8em 0 6.5em;
	position: absolute;
	z-index: 5;
	background-color: var(--c-w);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}
.steps-left {
	top: -20%;
	left: -60%;
}
.steps-right {
	top: -20%;
	right: -60%;
}
.steps-r {
	border-bottom: 3px solid var(--c-r);
}
.steps-g {
	border-bottom: 3px solid var(--c-g);
}
.steps-p{
	border-bottom: 3px solid var(--c-p);
}
.steps-o{
	border-bottom: 3px solid var(--c-o);
}
.steps__title {
	font-size: 1.5rem;
	margin-bottom: 1.3em;
}
.steps__title:before {
	content: "01";
	position: absolute;
    top: 20%;
    left: 7%;
	font-size: 2.5rem;
	font-family: "Libre Baskerville Bold";
	color: rgb(0, 0, 0, 0.1);
	line-height: 0;
}
.steps__title-02:before {
	content: "02";
}
.steps__title-03:before{
	content: "03";
}
.steps__title-04:before{
	content: "04";
}
.steps__title:after {
	content: "";
	position: absolute;
	top: 25%;
	left: 9%;
	width: 80px;
	height: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	transform: rotate(130deg);
}
.steps__text {
	font-size: 0.9rem;
}
/*Окончания экрана Work Steps*/
/*Начало экрана Pricing Table*/
.pricing {
	background-color: var(--bg-c-g);
}
.pricing__title:after {
	content: "06";
}
.pricing__items {
	margin-top: 5.5em;
	padding-bottom: 7.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pricing__item {
	background: var(--c-w);
	flex: 0 1 28%;
}
.pricing__item + .pricing__item {
	margin-left: 3em;
}
.pricing__item-g {
	border-top: 3px solid var(--c-g);
}
.pricing__item-r {
	border-top: 3px solid var(--c-r);
}
.pricing__item-p {
	border-top: 3px solid var(--c-p);
}
.price__title {
	margin: 1.5em 0 1.3em;
	text-align: center;
	font-family: var(--f-f);
	font-size: 1.2em;
}
.price-info {
	width: 30%;
	text-align: center;
	margin: 0 auto 2em;
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 1.3em 0;
	position: relative;
}
.price-info-g {
	background: var(--c-g);
}
.price-info-g:before {
	content: "";
	position: absolute;
	top: 0%;
	right: 0%;
    transform: translate(7%,-7%);
    width: 110%;
    height: 110%;
	border: 3px solid var(--c-g);
	border-radius: 50%;
}
.price-info-r {
	background: var(--c-r);
}
.price-info-r:before {
	content: "";
	position: absolute;
	top: 0%;
	right: 0%;
    transform: translate(7%,-7%);
    width: 110%;
    height: 110%;
	border: 3px solid var(--c-r);
	border-radius: 50%;
}
.price-info-p {
	background: var(--c-p);
}
.price-info-p:before {
	content: "";
	position: absolute;
	top: 0%;
	right: 0%;
    transform: translate(7%,-7%);
    width: 110%;
    height: 110%;
	border: 3px solid var(--c-p);
	border-radius: 50%;
}
.price-info_cost {
	color: var(--c-w);
	font-size: 1.5rem;
}
.price-info__date {
	font-size: 0.7rem;
	color: var(--c-w);
}
.service-list__items {
	list-style: none;
	text-align: center;
	margin-bottom: 2em;
}
.service-list__item + .service-list__item {
	margin-top: 1.2em;
}
.service-list__text-bold {
	font-weight: 700;
	margin-right: 0.3em;
}
.list-chek {
	font-size: 0.9rem;
	margin-right: 0.4em;
	vertical-align: center;
}
.price__button {
	margin: 0 auto 1.8em;
	display: block;
	padding: 0.7em 1.7em;
	font-size: 0.9em;
}
.price__button-g {
	background: transparent;
	border-color: var(--c-g);
	color: var(--c-g);
	transition-property: color, background-color;
	transition: 0.8s, 0.7s;
}
.price__button-g:hover {
	background: var(--c-g);
	color: var(--c-w);
}
.price__button-p {
	background: transparent;
	border-color: var(--c-p);
	color: var(--c-p);
	transition-property: color, background-color;
	transition: 0.8s, 1s;
}
.price__button-p:hover {
	background: var(--c-p);
	color: var(--c-w);
}
/*Окончания экрана Pricing Table*/
/*Начало Testimonials*/
.testimonials {
	background: url(../image/testimonial-bg.png) 
				center center/cover no-repeat var(--bg-c-b);
	background-blend-mode: darken;
	padding-bottom: 7.5em;
}
.title__testimonials {
	color: var(--c-w);
}
.title__testimonials:after {
	content: "07";
	color: rgba(255, 255, 255, 0.2);
}
.text__testimonials {
	color: var(--c-w);
}
.testimonials__items {
	margin-top: 4.5em;
}
.testimonials__item {
	position: relative;
	margin-right: 1em;
}
.testimonials__photo {
	border: 5px solid rgb(0, 0, 0, 0.4);
	z-index: 3;
	position: relative;
	max-width: 30%;
	max-height: 30%;
}
.testimonials-info {
	position: absolute;
  	top: 20%;
    left: 30%;
	color: var(--t-c-b);
	background: var(--c-w);
	width: 60%;
	margin-left: auto;
	padding: 2.3em 3.6em 2em 3.3em;
	border-bottom: 3px solid var(--c-r);
	z-index: 1;
}
.testimonials-info__text {
	font-size: 0.8rem;
	margin-bottom: 3em;
}
.testimonials-info_name {
	font-family: var(--f-f);
	margin-bottom: 0.5em;
}
.testimonials-info__position {
	font-size: 0.7rem;
	color: var(--c-r);
}
/*Окончание секции Testimonials*/
/*Начало экрана Why Select Us*/
.select-us {
	padding-bottom: 7.5em;
}
.select-us__title:after {
	content: "08";
}
.select-us__items {
	margin: 3.9em 0 4.5em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.select-us__item {
	flex: 0 0 28%;
	margin: 0 3em 3.5em 0;
}
.select-us__item:nth-child(3n) {
	margin-right: 0;
}
.select-us__item-top {
	display: flex;
	margin-bottom: 1.7em;
}
.select-us__item-title {
	margin-left: 0.7em;
	line-height: 1.4;
	font-family: var(--f-f);
}
.select-us__text {
	font-size: 0.8rem;
}
.select-us__footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-us__footer-text {
	margin-right: 1.1em;
}
.select-us__footer-button {
	padding: 1em 2em;
	font-size: 0.7rem;
}
/*Окончание экрана Why Select Us*/
/*Начало экрана Our Blog*/
.our-blog {
	background: var(--bg-c-g);
	padding-bottom: 7.5em;
}
.our-blog__title:after {
	content: "09";
}
.our-blog__items {
	margin-top: 3.9em;
	display: flex;
	justify-content: space-between;
}
.blog-main {
	border-bottom: 3px solid var(--c-r);
	margin-right: 1.5em;
	display: flex;
	flex-direction: column;
	background: var(--c-w);
}
.blog-main__title {
	margin: 1.6em 2.4em 1.2em;
	font-family: var(--f-f);
	font-size: 1.2rem;
}
.blog-main__text {
	margin: 0 3.5em 3em;
	font-size: 0.8rem;
}
.blog-main__link {
	font-family: var(--f-f);
	text-decoration: none;
	color: inherit;
	font-weight: 700;
}
.blogs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.blog {
	background: var(--c-w);
	padding: 1.3em;
	flex: 0 1 23%;
	box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
.blog-g	{
	border-bottom: 3px solid var(--c-g);
}
.blog-p	{
	border-bottom: 3px solid var(--c-p);
}
.blog-o	{
	border-bottom: 3px solid var(--c-o);
}
.blog__name {
	font-size: 0.8rem;
	font-family: var(--f-f);
	margin-bottom: 1.1em;
	display: block;
}
.blog__name-g {
	color: var(--c-g);
}
.blog__name-p {
	color: var(--c-p);
}
.blog__name-o {
	color: var(--c-o);
}
.blog__title {
	font-size: 1rem;
	font-family: var(--f-f);
	margin-bottom: 1.1em;
}
.blog__text {
	font-size: 0.8rem;
}
.blog__link {
	font-family: var(--f-f);
	text-decoration: none;
	font-weight: 700;
}
.blog__link-g {
	color: var(--c-g);
}
.blog__link-p {
	color: var(--c-p);
}
.blog__link-o {
	color: var(--c-o);
}
/*Окончание экрана Our Blog*/
/*Начало экрана Subscribe*/
.subscribe {
	padding: 7.2em 0;
	background: var(--c-w);
}
.subscribe__title {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 1.9em;
}
.subscribe__form {
	text-align: center;
	display: flex;
	justify-content: center;
}
.subscribe__email {
	width: 15em;
	height: 3em;
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px 0 0 30px;
	border-right: none;
	font-size: 0.9rem;
}
.subscribe__email::placeholder {
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.9rem;
	padding-left: 0.7em;
}
.subscribe__email:focus {
	border: 3px solid var(--c-r);
	border-radius: 24px 0 0 20px;
	outline: none;
	border-right: none;
}
.subscribe__email:focus::placeholder {
	opacity: 0;
}
.subscribe__button {
	color: var(--c-w);
	font-size: 0.9rem;
	font-family: "Poppins SemiBold";
	border-radius: 0 30px 30px 0;
	background: var(--c-r);
	border-color: var(--c-r);
	padding: 0.4em 1.1em;
	text-transform: uppercase;
	border: 3px solid var(--c-r);
}
.subscribe__button:hover {
	border: 3px solid var(--c-r);
}
/*Окончание секции Subscribe*/
/*Начало экрана Get in Touch*/
.get-in-touch {
	background: rgba(0, 0, 0, 0.4);
	padding-bottom: 7.2em;
}
.get-in-touch__title:after {
	content: "10";
}
.form {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	margin: 4.4em auto 0;
	flex-wrap: wrap;
}
.form__item {
	flex: 0 1 49%;
	font-size: 0.9rem;
	text-align: center;
	padding: 0.5rem 0;
	margin-bottom: 0.5em;
}
.form__text {
	flex-basis: 100%;
}
.form__text::placeholder {
	font-size: 1.5rem;
}
.form__item:focus {
	border: 3px solid var(--c-r);
	outline: none;
	box-sizing: border-box;
}
.form__item:focus::placeholder {
	opacity: 0;
}
.form__button {
	flex-basis: 25%;
	margin: 2.6em auto 0;
}
/*Окончание секции Get in Touch*/
/*Начало секции Footer*/
.footer {
	background: rgba(0, 0, 0, 0.4);
	padding: 2em 0 7.2em;
}
.footer__items {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 11.5em;
	background: rgb(63, 64, 73);
	border-bottom: 3px solid;
	border-image-source: url(../image/bb-footer.png);
	border-image-repeat: stretch;
	border-image-slice: 0 0 3 0;
}
.footer__title {
	font-family: var(--f-f);
	font-size: 1rem;
	margin-bottom: 2em;
}
.footer__title-g {
	color: var(--c-g);
}
.footer__title-p {
	color: var(--c-p);
}
.footer__title-o {
	color: var(--c-o);
}
.footer__text {
	font-size: 0.9rem;
	color: var(--c-w);
}
.footer__social-link {
	text-decoration: none;
	color: var(--c-w);
	font-size: 1.7rem;
}
.to-top {
	display: none;
	position: fixed;
	bottom: 0.8em;
	right: 0.5em;
	padding: 0.2em 0.3em;
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--c-r);
	cursor: pointer;
	border: none;
	line-height: 1;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
}
.to-top.hover {
	background-color: transparent;
	border: 1px solid var(--c-r);
	transition: 0.5s;
}
/*Окончание секции Footer*/
/*Адаптивная вёрстка*/
@media (max-width: 1700px) {
	:root {
		font-size: 1em;
	}
	.wrapper {
		margin: 0 10em;
	}
	.menu {
		display: none;
		position: absolute;
		width: 100vw;
		top: 100%;
		left: 0%;
		background-color: var(--c-w);
		z-index: 5;
		text-align: center;
	}
	.menu__item {
		margin-bottom: 1.5em;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	.burger {
		display: block;
		position: absolute;
		top: 1.4em;
		right: 10em;
		z-index: 10;
		cursor: pointer;
		height: 20px;
		width: 30px;
	}
	/*Анимация бургера*/
	.burger__item {
		transition: linear 0.2s;
		opacity: 1;
	}
	.burger__item-top {
		transform: rotate(-43deg) translateX(-5px) translateY(2px);
		transition: 0.5s;
		z-index: 3;
	}
	.burger__item-middle {
		position: absolute;
		opacity: 0;
	}
	.burger__item-bottom {
		transform: rotate(43deg) translateX(-3px) translateY(-1px);
		transition: 0.5s;
		z-index: 3;
	}
	/*Окончание анимации бургера*/
}
@media(max-width: 1400px) {
	.out-focus__title {
		margin: 1.2em 0 1em;
		font-size: 1.2rem;
	}
	.out-focus__text {
		padding: 0 1em;
		font-size: 0.9rem;
	}
	.gallery__item {
		 margin-right: 0;
		 margin-bottom: 0.7em;
	}
	.gallery__item:nth-child(odd) {
		margin-right: 1em;
	}
	.gallery__item:nth-child(n+7) {
		margin-bottom: 0.7em;
	}
	.about-person {
		margin: 2.3em 0 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		padding: 3.3em 2em;
	}
	.about-person__text {
		font-size: 1rem;
		width: 85%;
	}
	.steps {
		max-width: 90%;
		height: 85%;
		padding: 2.5em 2.8em 0 5.5em;
	}
	.steps-left {
		top: -10%;
		left: -30%;
	}
	.steps-right {
		top: -10%;
		right: -30%;
	}
	.steps__title:before {
	    left: 5%;
	}
	.steps__title:after {
		left: 7%;
	}
	.testimonials-info {
		position: absolute;
	  	top: 15%;
	    left: 30%;
		width: 55%;
		padding: 2.3em 3em 2em 3.3em;
	}
	.slick-dots	{
	    top: 108%;
	    right: 6%;
	}
}
@media(max-width: 1100px) {
	.wrapper {
		margin: 0 5em;
	}
	.burger {
		right: 5em;
	}
	.aboutus__img {
		border: 5px solid rgb(204, 204, 204);
	}
	.aboutus__container {
		position: absolute;
		top: 30%;
		left: 30%;
		padding: 5em 3.5em 5em 4.2em;
		max-width: 33em;
		background-color: rgba(255, 255, 255, 0.9);
	}
	.our-focus__item {
		margin-right: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5em 0;
	}
	.pricing__item {
		flex: 0 1 31%;
	}
	.pricing__item + .pricing__item {
		margin-left: 2em;
	}
	.blog-main {
		margin-right: 0.5em;
	}
}
@media(max-width: 950px) {
	:root {
		font-size: 0.9em;
	}
	.wrapper {
		margin: 0 3em;
	}
	.burger {
		right: 3em;
	}
	.title {
		padding: 2.2em 0 0.2em;
		font-size: 2.6rem;
	}
	.title:after {
		content: "02";
	    right: 52%;
	    bottom: 49%;
	    transform: translate(50%,50%);
	    position: absolute;
	    font-size: 10rem;
	}
	.title__portfolio:after {
		content: "03";
	}
	.our-team__title:after {
		content: "04";
	}
	.work-steps__title:after {
		content: "05";
	}
	.pricing__title:after {
		content: "06";
	}
	.title__testimonials:after {
		content: "07";
	}
	.select-us__title:after {
		content: "08";
	}
	.our-blog__title:after {
		content: "09";
	}
	.get-in-touch__title:after {
		content: "10";
	}
	.text {
		font-size: 1.2rem;
	}
	.marker__items {
		transform: translate(3%,0);
	}
	.marker__item {
		margin-right: 2em;
	}
	.marker__item:last-child {
		margin-right: 0;
	}
	.aboutus {
		height: 500px;
		background-image: url(../image/aboutus-tab.png);
		background-repeat: no-repeat;
		background-position: 3em center;
		background-size: 55% 90%;
	}
	.aboutus__img {
		display: none;
	}
	.aboutus__container {
		position: absolute;
		padding: 3em 2em 3.4em 2.2em;
		top: 15%;
		left: 20%;
	}
	.title-left {
		margin-top: 0;
		padding: 0;
		margin-bottom: 1em;
		text-align: left;
	}
	.title-left:after {
		content: "01";
		position: absolute;
	    right: 89%;
	    bottom: 40%;
	    font-size: 10rem;
	}
	.out-focus__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.our-focus__item {
		margin-right: 0;
		flex: 0 1 47%;
		margin-bottom: 2em;
	}
	.our-focus__item:nth-child(n+3) {
		margin-bottom: 0;
	}
	.video-section {
		padding: 5.5em 0;
	}
	.play__line {
		height: 3px;
		width: 25px;
		transform: rotate(90deg);
		margin-left: 1.4em;
	}
	.play__line:before {
		top: 0;
		left: 0;
		height: 3px;
		width: 35px;
		transform: rotate(-65deg) translate(10px, -14px);
	}
	.play__line:after {
		top: 0;
		left: 0;
		height: 3px;
		width: 33px;
		transform: rotate(70deg) translate(-12px, -10px);
	}
	.portfolio {
		padding-bottom: 4em;
	}
	.gallery {
		margin-top: 2em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.gallery__item {
		flex: 0 1 48%;
	}
	.gallery__item:nth-child(odd) {
	    margin-right: 0;
	}
	.gellery__img {
		width: 100%;
	}
	.our-team {
		padding-bottom: 4em;
	}
	.our-team__items {
		margin-top: 2em;
	}
	.our-team__item {
		flex: 0 1 25%;
		cursor: pointer;
		margin-right: 2em;
	}
	.team__photo {
		width: 100%;
	}
	.our-team__name {
		font-size: 1em;
		margin-top: 0.7em;
		margin-bottom: 0.5em;
	}
	.our-team__position {
		margin-bottom: 0.5em;
	}
	.about-person {
		padding: 1.5em 2em;
	}
	.about-person:before {
		display: none;
	}
	.about-person__item-big {
		flex: 0 1 85%;
		background: none;
	}
	.about-person__item-small {
		flex: 0 0 15%;
		border-left: 1px solid rgba(0, 0, 0, 0.3);
		padding-left: 1em;
	}
	.about-person__title {
		margin-bottom: 0.5em;
		font-family: var(--f-f);
		font-size: 1.2rem;
	}
	.about-person__text {
		font-size: 0.8rem;
		width: 100%;
		line-height: 1.5em;
	}
	.team-social__link {
		font-size: 0.8rem;
	}
	.statistics {
		padding: 4em 0 4em 0;
	}
	.statistics__number {
		font-size: 1.1rem;
		margin: 1em 0;
	}
	.statistics__dashed {
		margin-top: 1.5em;
	}
	.work-steps__items {
		margin: 2em 0 4em;
	}
	.steps {
		max-width: 80%;
		height: 75%;
		padding: 2.5em 2.8em 0 4.5em;
	}
	.steps-left {
		top: 10%;
		left: 0;
	}
	.steps-right {
		top: 10%;
		right: 0;
	}
	.steps__title:before {
	    left: 2%;
	}
	.steps__title:after {
		left: 3%;
	}
	.pricing__items {
		margin-top: 2em;
		padding-bottom: 4em;
	}
	.pricing__item {
		flex: 0 1 33%;
	}
	.pricing__item + .pricing__item {
		margin-left: 1em;
	}
	.testimonials {
		padding-bottom: 4em;
	}
	.testimonials__items {
		margin-top: 2em;
	}
	.testimonials__photo {
		border: 4px solid rgb(0, 0, 0, 0.4);
		z-index: 3;
		max-width: 32%;
		max-height: 32%;
	}
	.testimonials-info__text {
		margin-bottom: 1.5em;
	}
	.testimonials-info {
		top: 10%;
	    right: 0%;
		width: 59%;
		padding: 1.7em 2em 1.5em 2em;
	}
	.slick-dots	{
	    top: 100%;
	    right: 2%;
	}
	.slick-dots li {
		width: 15px;
	    height: 15px;
	    margin: 0 5px;
	    padding: 0;
	    border-radius: 20px;
	}
	.slick-dots li button:before {
		font-size: 2.5rem;
	    line-height: 10px;

	    position: absolute;
	    top: 12%;
	    left: -14%;

	    width: 20px;
	    height: 20px;
	}
	.select-us {
		padding-bottom: 4em;
	}
	.select-us__items {
		margin: 2em 0 2em 0;
		justify-content: space-between;
	}
	.select-us__item {
		flex: 0 0 32%;
		margin: 0 0 2em 0;
	}
	.select-us__item-top {
		margin-bottom: 0.5em;
	}
	.our-blog {
		padding-bottom: 4em;
	}
	.our-blog__items {
		margin-top: 2em;
	}
	.blog-main {
		border-bottom: 3px solid var(--c-r);
		margin-right: 0.5em;
		width: 62%;
	}
	.blog-main__title {
		margin: 1.6em 2em 1.2em;
	}
	.blog-main__text {
		margin: 0 3em 3em;
	}
	.subscribe {
		padding: 4em 0;
	}
	.subscribe__title {
		text-align: center;
		font-size: 1.6rem;
		margin-bottom: 1.4em;
	}
	.subscribe__email {
		height: 2.5em;
		border: 3px solid rgba(0, 0, 0, 0.2);
		border-radius: 30px 0 0 30px;
		border-right: none;
	}
	.subscribe__button {
		color: var(--c-w);
		font-size: 0.8rem;
		border-radius: 0 30px 30px 0;
		padding: 0.4em 1.5em;
	}
	.get-in-touch {
		padding-bottom: 4em;
	}
	.form {
		width: 70vw;
		margin: 2em auto 0;
		flex-wrap: wrap;
	}
	.form__item {
		flex: 0 1 48%;
		font-size: 0.9rem;
		text-align: center;
		padding: 0.5em 0;
		margin-bottom: 0.5em;
	}
	.form__text {
		flex-basis: 100%;
	}
	.form__button {
		flex-basis: 25%;
		margin: 2.6em auto 0;
	}
}
@media(max-width: 700px) {
	.main__inner {
		padding: 7em 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main__title {
		font-size: 2.5rem;
		margin-bottom: 1em;
	}
	.marker__item {
		margin-right: 1.5em;
	}
	.marker__item:last-child {
		margin-right: 0;
	}
	.market__icon {
		margin-bottom: 1.5em;
	}
	.market__title {
		text-transform: uppercase;
		font-family: var(--f-f);
		font-size: 0.8rem;
	}	
	.title {
		padding: 2em 0 0 0;
		font-size: 2rem;
	}
	.title:after {
		content: "02";
	    right: 52%;
	    bottom: 45%;
	    transform: translate(50%,50%);
	    position: absolute;
	    font-size: 7rem;
	}
	.text {
		font-size: 1.2rem;
	}
	.aboutus {
		background-size: 300px 90%;
	}
	.aboutus__container {
		position: absolute;
		padding: 2em 2em 2em 2em;
		top: 15%;
		left: 20%;
		max-width: 25em;
	}
	.title-left {
		margin-top: 0;
		padding: 0;
		margin-bottom: 0.5em;
		text-align: left;
	}
	.title-left:after {
		content: "01";
	    right: 92%;
	    bottom: 40%;
	    font-size: 7rem;
	}
	.aboutus__text {
		font-size: 0.9rem;
		color: rgba(0, 0, 0, 0.7);
		margin-bottom: 1em;
		line-height: 1.4;
	}
	.aboutus__text:last-child {
		margin-bottom: 0em;
	}
	.title__portfolio:after {
		content: "03";
	}
	.title-w {
		font-size: 1.2rem;
		margin-bottom: 2em;
	}
	.play {
		width: 80px;
		height: 80px;
		border-radius: 50px;
		margin: 0 auto 2em;
	}
	.video-section__text {
		text-align: center;
		font-size: 0.9em;
	}
	.play__line {
		height: 3px;
		width: 25px;
		transform: rotate(90deg);
		margin-left: 1em;
	}
	.our-team__item {
		margin-right: 0.4em;
	}
	.about-person {
		padding: 1em 1.5em;
		flex-direction: column;
		width: 100%;
	}
	.about-person__item + .about-person__item {
		margin-left: 0;
	}
	.about-person__item-big {
		flex: 0 1 100%;
	}
	.about-person__item-small {
		flex: 1 1 100%;
		border-left: none;
		padding-left: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		margin-top: 1em;
		padding: 0em;
		padding-top: 1em;
		width: 100%;
	}
	.about-person__title {
		font-size: 1rem;
	}
	.team-social {
		display: flex;
		justify-content: space-between;
	}
	.work-steps__items {
		margin: 2em 0 4em;
		align-items: center;
		width: 100%;
	}
	.work-steps__item {
		margin-bottom: 2em;
		display: flex;
		justify-content: center;
	}
	.work-steps__img {
		display: none;
	}
	.steps {
		max-width: 80%;
		height: 100%;
		padding: 1.5em 2.8em 2em 4em;
		position: relative;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	
	}
	.work-steps__item:last-child {
		margin-bottom: 0;
	}
	.steps-left {
		top: 10%;
		left: 0;
	}
	.steps-right {
		top: 10%;
		right: 0;
	}
	.steps__title:before {
	    left: 2%;
	}
	.steps__title:after {
		left: 3%;
	}
	.pricing__item + .pricing__item {
		margin-left: 3em;
	}
	.slick-slide img {
	    display: flex;
	}
	.testimonials__item {
		margin-left: 1em;
	}
	.testimonials__photo {
		max-width: 50%;
		max-height: 50%;
		margin: 0 auto 1em;
	}
	.testimonials-info {
		position: relative;
	  	top: 0%;
	    left: 0%;
		width: 87%;
	}
	.slick-dots	{
	    top: 103%;
	    right: 37%;
	}
	.slick-dots li {
		width: 12px;
	    height: 12px;
	    margin: 0 3px;
	    padding: 0;
	    border-radius: 20px;
	}
	.slick-dots li button:before {
		font-size: 1.7rem;
	    line-height: 10px;

	    position: absolute;
	    top: 12%;
	    left: -35%;

	    width: 20px;
	    height: 20px;
	}
	.select-us__item {
		flex: 0 0 45%;
	}
	.our-blog__items {
		display: flex;
		flex-direction: column;
	}	
	.blog-main {
		margin-right: 0em;
		width: 100%;
		margin-bottom: 1.5em;
	}
	.blog {
		margin-bottom: 1.5em;
	}
	.blog:last-child {
		margin-bottom: 0;
	}
	.form {
		width: 84vw;
	}
	.get-in-touch {
	    padding-bottom: 2em;
	}
	.footer {
	padding: 2em 0 3em;
	}
	.footer__items {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 10.5em;
		margin: 0 -3em;
	}
	.footer__title {
		font-family: var(--f-f);
		font-size: 1rem;
		margin-bottom: 1em;
	}
	.footer__text {
		font-size: 0.9rem;
	}
	.footer__social-link {
		text-decoration: none;
		color: var(--c-w);
		font-size: 1.7rem;
	}
}
@media(max-width: 520px) {
	:root {
		font-size: 0.8em;
	}
	.wrapper {
		margin: 0 2em;
	}
	.main__title {
		font-size: 1.9rem;
		margin-bottom: 1em;
	}
	.marker__items {
		transform: translate(0,0);
	}
	.marker__item {
		margin-right: 0.7em;
	}
	.market__title {
		font-size: 0.7rem;
	}
	.aboutus {
		background-position: center center;
		height: 450px;
	}
	.aboutus__container {
		padding: 2em 1em 2em 1em;
		top: 17%;
		left: 0;
		transform: translate(3%,0);
		width: 20em;
	}
	.title-left:after {
		content: "01";
	    right: 87%;
	    bottom: 40%;
	    font-size: 7rem;
	}
	.text {
		font-size: 1rem;
	}
	.out-focus__items {
		padding-top: 2em;
		padding-bottom: 3em;
	}
	.our-focus__item {
		margin-right: 0;
		flex: 0 1 100%;
		margin-bottom: 2em;
	}
	.our-focus__item:nth-child(3n) {
		margin-bottom: 2em;
	}
}
/*Окончание адаптивной вёрстки*/